.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 0 8%;
    margin-top: -70px;
}

.stat-card {
    background: white;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .12);
    transition: .35s;
}

.stat-card:hover {
    transform: translateY(-10px) scale(1.03);
}

.stat-card h2 {
    font-size: 45px;
    color: #2563eb;
}

.stat-card p {
    margin-top: 12px;
    color: #666;
    font-size: 18px;
}